<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
        <script src="static/js/script.js"></script>
        <script src="static/js/layout.js"></script>
        <script src="static/js/version01.js"></script>
        <script src="static/js/SmietanaFunkcje.js"></script>
        <title>Bitmap Manipulator</title>
        <!-- ............................ jquery ver. 3.3.1 .................. -->
        <script src="static/js/jquery-3.3.1.min.js"></script>
        <!-- ............................ bootstrap ver. 3.3.7 ............... -->
        <!-- Żeby pliki poprawnie się otwierały, należy otworzyć projekt na jakimś serwerze http (może być lokalny). -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="static/js/bootstrap.min.js" crossorigin="anonymous"></script> 
        <!-- ................................................................. -->
    </head>
    <body onLoad="updateCanvas();">
        <div class="navbar navbar-default" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bitmaps<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                        <li><p class="menuItem" onclick="setBitmap( 'static/img/lena256.png' )">Lena256</p></li>

                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">JS functions<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><p class="menuItem" onclick="ChangeColors()">Change colors</p></li>
                        <li><p class="menuItem" onclick="Stripes()">Make stripes</p></li>
                        <li><p class="menuItem" onclick="SliceImagesIntoTiles(false)">Divide into tiles</p></li>
                        <li><p class="menuItem" onclick="SliceImagesIntoTiles(true)">Divide into tiles mixed with all used effects</p></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="container">
            <div class="canvasRow">
                <canvas id="myCanvas1" class="canvas" width="256" height="256"></canvas>
                <canvas id="myCanvas2" class="canvas" width="256" height="256"></canvas>
                <canvas id="myCanvas3" class="canvas" width="256" height="256"></canvas>
            </div>
            <div class="canvasRow">
                <canvas id="myCanvas4" class="canvas" width="256" height="256"></canvas>
                <canvas id="myCanvas5" class="canvas" width="256" height="256"></canvas>
                <canvas id="myCanvas6" class="canvas" width="256" height="256"></canvas>
            </div>
        </div>
    </body>
</html>
