<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
        <link rel="stylesheet" href="static/css/bootstrap.min.css" crossorigin="anonymous">
        <title>Bitmap Manipulator</title>
    </head>
    <body>
        <div class="navbar navbar-default" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bitmaps<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                        <li><p class="menuItem" onclick="setPictures( 'static/img/lena256.png' )">Lena256</p></li>
                        <li><p class="menuItem" onclick="setPictures( 'static/img/monkey256.png' )">Monkey256</p></li>
                        <li><p class="menuItem" onclick="setPictures( 'static/img/parrots256.png' )">Parrots256</p></li>
                        <li><p class="menuItem" onclick="setPictures( 'static/img/black_rectangles256.png' )">Rectangles256</p></li>
                        <li><p class="menuItem" onclick="setPictures( 'static/img/six_squares256.png' )">Squares256</p></li>
                        <li><p class="menuItem" onclick="setPictures( 'static/img/tire256.png' )">Tire256</p></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">JS functions<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><p class="menuItem" onclick="ChangeColors()">Change colors</p></li>
                        <li><p class="menuItem" onclick="Stripes()">Make stripes</p></li>
                        <li><p class="menuItem" onclick="SliceImagesIntoTiles(false)">Divide into tiles</p></li>
                        <li><p class="menuItem" onclick="SliceImagesIntoTiles(true)">Divide into tiles mixed with all used effects</p></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Python funtions<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                        <li><p class="menuItem" id="Negative">Negative</p></li>
                        <li><p class="menuItem" id="Grayscale">Grayscale</p></li>
                        <li><p class="menuItem" id="Histogram">Histogram normalization</p></li>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Scaling</a>
                            <ul class="dropdown-menu">
                                <li class="menuItem" id="ScalingShrink">Shrink</li>
                                <li class="menuItem" id="ScalingExpand">Expand</li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thresholding</a>
                            <ul class="dropdown-menu">
                                <li class="menuItem" id="ThresholdBinary64">Binary (64,255)</li>
                                <li class="menuItem" id="ThresholdBinary128">Binary (128,255)</li>
                                <li class="menuItem" id="ThresholdBinary192">Binary (192,255)</li>
                                <li class="menuItem" id="ThresholdBinary64_inv">Binary inv (64,255)</li>
                                <li class="menuItem" id="ThresholdBinary128_inv">Binary inv (128,255)</li>
                                <li class="menuItem" id="ThresholdBinary192_inv">Binary inv (192,255)</li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filters</a>
                            <ul class="dropdown-menu">
                                <li class="menuItem" id="FilterBlur">Blur</li>
                                <li class="menuItem" id="FilterMean">Mean removal</li>
                                <li class="menuItem" id="FilterMedian">Median</li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Color spaces</a>
                            <ul class="dropdown-menu">
                                <li class="menuItem" id="HSV">HSV</li>
                                <li class="menuItem" id="HLS">HLS</li>
                                <li class="menuItem" id="Gray">Gray</li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rotate</a>
                            <ul class="dropdown-menu">
                                <li class="menuItem" id="Rotate90">90 degrees</li>
                                <li class="menuItem" id="Rotate180">180 degrees</li>
                                <li class="menuItem" id="Rotate270">270 degrees</li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Change brightness</a>
                            <ul class="dropdown-menu">
                                <li class="menuItem" id="IncreaseBright">Increase</li>
                                <li class="menuItem" id="DecreaseBright">Decrease</li>
                            </ul>
                        </li>
                        <li><p class="menuItem" id="Border">Border detection</p></li>
                        <li><p class="menuItem" id="Erode">Erode</p></li>
                        <li><p class="menuItem" id="Dilate">Dilate</p></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="container">
            <h3>Javascript image manipulations</h3>
            <div class="canvasRow">
                <canvas id="myCanvas1" class="canvas" width="256" height="256"></canvas>
                <canvas id="myCanvas2" class="canvas" width="256" height="256"></canvas>
                <canvas id="myCanvas3" class="canvas" width="256" height="256"></canvas>
            </div>
            <div class="canvasRow">
                <canvas id="myCanvas4" class="canvas" width="256" height="256"></canvas>
                <canvas id="myCanvas5" class="canvas" width="256" height="256"></canvas>
                <canvas id="myCanvas6" class="canvas" width="256" height="256"></canvas>
            </div>
        </div> 
        <div>
            <h3>Python image manipulations</h3>
            <div class="canvasRow">
                <canvas id="baseCanvas" class="canvas" width="256" height="256"></canvas>
                <canvas id="targetCanvas" class="canvas" width="256" height="256"></canvas>
            </div>
        </div>
        <div class="container" style="margin-left: 0px;">
            <h3>Python receipt parser</h3>
            <div class="row">
                <div class="col">
                    <input id="imgfile" type="file" onchange="loadImage()">
                </div>
                <div class="col">
                    <button id="ParseReceiptButton" disabled="true">Parse receipt</button>
                </div>
            </div>
                <div class="row">
                    <div class="col">                                       
                        <canvas id="receiptCanvas" class="canvas" width="256" height="256"></canvas>                     
                    </div>
                    <div class="col">
                        <textarea id="ReceiptResponse" rows="2" cols="100"></textarea>
                    </div>
                </div>      
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js" crossorigin="anonymous"></script> 
    <script src="static/js/script.js"></script>
    <script src="static/js/functions.js"></script>
    <script src="static/js/AjaxCalls.js"></script>        
</html>
